html, body {
  font-family: 'Roboto', sans-serif;
  overflow:hidden; height:100%;
}

body {
  height: 100vh;
  justify-content: center;
}

.app {
  width: 90%;
  overflow: hidden;
}

.tabs .tab a, .tabs .tab a.active{
  color: white;
}

.tabs-content.carousel { 
  height: 50vh !important; 
  overflow-x:hidden; 
  overflow-y: scroll; 
}

.tabs-content.carousel .carousel-item { 
  width: 100%; 
  height: 100%; 
} 

#main {
  margin-bottom: 0;
}

#all-panel, #offline-panel, #online-panel {
  width: 100%;
  height: 50vh;
  overflow-y: scroll;
  padding: 0;
}

#all-panel ul, #offline-panel ul, #online-panel  ul {
  margin: 0;
  height: inherit;
}

#all-panel ul li:nth-child(even), #offline-panel ul li:nth-child(even) {
  background-color: #c5cae9;
}

#all-panel li, #offline-panel li, #online-panel li {
  display:flex;
  margin: 0;
  height: 6rem;
  align-items: center;
  padding: 1rem;
}

.user {
  margin: 0;
  /*padding: .5rem;*/
}

.user p, .user h5 {
  margin: 0;
  /*padding-left: 1rem;*/
}