html, body {
  font-family: 'Roboto', sans-serif;
  overflow:hidden; 
  height:100%;
}

body {
  height: 100vh;
  justify-content: center;
}

#app {
  transition: opacity 1s ease, transform 1.2s cubic-bezier(0, 0, 0.58, 1.74);
  width: 90%;
  overflow: hidden;
  opacity: 0;
  transform: scale(0, 0);
}

#app.active {
  opacity: 1;
  transform: scale(1, 1);
}

.tabs .tab a, .tabs .tab a.active{
  color: white;
}

.tabs-content.carousel { 
  height: 50vh !important; 
}

.tabs-content.carousel .carousel-item { 
  width: 100%; 
  height: 100%; 
} 

#main {
  margin-bottom: 0;
}

#all-panel, #offline-panel, #online-panel {
  width: 100%;
  height: 50vh;
  overflow-y: auto;
  padding: 0;
}

#all-panel ul, #offline-panel ul, #online-panel  ul {
  margin: 0;
  height: inherit;
  transition: opacity 1s ease;
}

#all-panel ul li:nth-child(even), #offline-panel ul li:nth-child(even), #online-panel ul li:nth-child(even) {
  background-color: #c5cae9;
}

#all-panel li, #offline-panel li, #online-panel li {
  display:flex;
  margin: 0;
  height: 6rem;
  align-items: center;
  padding: .5rem;
}

.user {
  margin: 0;
  /*padding: .5rem;*/
}

.user p, .user h5 {
  margin: 0;
  /*padding-left: 1rem;*/
}

.user.row {
  width: 100%;
  overflow: hidden;
}

.user.row span a{
  color: black;
}

.user.row span {
  font-size: 1.2rem;
}

@media only screen and (min-width: 601px) {
  #app {
    max-width: 60%;
  }

  .user.row img.profile {
    max-width: 80%;
  }

  .user.row img.status {
    max-widtH: 50%;
  }
}
@media only screen and (min-width: 993px) {
  #app {
    max-width: 50%;
  }
  .user.row img.profile {
    max-width: 65%;
  }

  .user.row img.status {
    max-widtH: 40%;
  }
}
